body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  cursor: default;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heder-bg {
  background-color: var(--brand-color-heder-footer);
  width: 1600px;
  height: 600px;
  margin-left: 0px;
  margin-top: 80px;
}

.main-headline {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu {
  width: 1600px;
  height: 80px;
}

.navigation-menu a {
  font-style: normal;
  font-weight: 500;
  color: var(--brand-color-headlines-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.navigation-menu a:hover {
  color: var(--brand-color-active);
}

.page-filters button {
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.page-filters button:hover,
.page-filters button:focus,
.page-filters button:active {
  background-color: var(--brand-color-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

:root {
  --brand-color-heder-footer: #2f303a;
  --brand-color-headlines-font: #212121;
  --brand-color-description-font: #757575;
  --brand-color-img-background: #ffffff;
  --brand-color-active: #2196f3;
}

.top-bar-email-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color-description-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-email-phone:hover {
  color: var(--brand-color-active);
}

.web {
  text-decoration: none;
  color: #2196f3;
}
