.address-index a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.headline-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-bg {
  background-color: var(--brand-color-heder-footer);
}

.logo-footer-index {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-section-one-bg {
  background-color: var(--brand-color-heder-footer);
}

.navigation-menu-link-agency {
  width: 53px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.navigation-menu-link-agency:hover {
  color: var(--brand-color-active);
}

.navigation-menu-link-portfolio {
  width: 58px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.navigation-menu-link-portfolio:hover {
  color: var(--brand-color-active);
}

.navigation-menu-link-contact {
  width: 51px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.navigation-menu-link-contact:hover {
  color: var(--brand-color-active);
}

.order-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order-service {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.our-advantages-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand-color-description-font);
}

.our-advantages-headline-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-headlines-font);
}

.our-advantages-list {
  list-style: none;
}

.our-team {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--brand-color-headlines-font);
  letter-spacing: 0.03em;
}

.our-team-bg {
  background-color: var(--brand-color-ourteam-bg);
}

.page-filters-button {
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.page-filters button:is(:hover, :focus, :active) {
  background-color: var(--brand-color-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.studio {
  color: #ffffff;
}

:root {
  --brand-color-heder-footer: #2f303a;
  --brand-color-headlines-font: #212121;
  --brand-color-description-font: #757575;
  --brand-color-img-background: #ffffff;
  --brand-color-active: #2196f3;
  --brand-color-ourteam-bg: #f5f4fa;
}

.team-card > li {
  background-color: var(--brand-color-img-background);
  width: 270px;
  height: 368px;
  list-style: none;
}

.team-card h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-headlines-font);
}

.team-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-description-font);
}

.top-bar-studio {
}

.top-bar-email {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color-description-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-email:hover {
  color: var(--brand-color-active);
}

.top-bar-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color-description-font);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-phone:hover {
  color: var(--brand-color-active);
}

.what-we-do {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color-headlines-font);
}

.what-we-do-list > li {
  list-style: none;
}

.web {
  text-decoration: none;
  color: #2196f3;
}
